<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" type="text/css">
    <link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Flask Blog</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('show_entries') }}">Flask Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav navbar-right">
                    {% if not current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('new_entry') }}">ログイン</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('new_entry') }}">新規投稿</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('new_entry') }}">ログアウト</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="blog-body">
            <ul class="list-group list-group-flush">
                {% for entry in entries %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ entry.title }}</h5>
                        <a href="{{ url_for('show_entry', article_id=entry.id) }}" class="card-link">続きを読む</a>
                    </div>
                </div>
                {% else %}
                投稿がありません
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>